<div class="footer">
    <p>© 2024 Porsche Brasil Importadora de Veículos Ltda. Indicações Legais. Política de Privacidade. Compliance Porsche. Canal de Denúncia. Open Source Software Notice.</p>
    <br>
    <p>* As informações encontradas neste site referentes ao Porsche Connect não se aplicam ao Brasil, já que o programa ainda não está disponível no mercado brasileiro. Para mais informações sobre os produtos disponíveis no Brasil entre em contato com o Porsche Center de sua preferência.</p>
    <a routerLink="home"><img src="/assets/Porsche_Schriftzug.svg.png"></a>
</div>
