.card {
    height: 85vh;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(33, 33, 33, 0.4);
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    transition: transform 0.5s ease; /* Mudança para transform para animar a escala */

    &:hover {
        transform: scale(1.03);
    }

    h2 {
        font-family: 'Exo 2', sans-serif;
        font-size: 2rem;
        color: rgb(255, 0, 0);
        padding-top: 2vh;
        padding-left: 2vh;
        font-style: italic;
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-family: 'Exo 2', sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        padding: 2vh;
        text-align: justify;
        margin-top: 50vh;
        align-items: center;

        button {
            margin-top: 27px;
            width: 400px;
            height: 50px;
            margin-top: 80px;
            font-family: 'Exo 2', sans-serif;
            border-radius: 15px;
            font-size: 1rem;
            background-color: rgb(255, 255, 255);
            position: absolute;
            transition: 0.5s ease;
            cursor: pointer;

            &:hover {
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
            }
        }
    }
}
