<div class="page">
    <div class="page__titulo">
        <h2>PORSCHE MACAN</h2>
    </div>
    <div class="page__content">
        <div class="page__content__galeria">
            <img src="{{ image }}">
            <div class="page__content__galeria__selecionar">
                <button (click)="changeImage('/assets/macan-side.webp')"><img src="/assets/macan-side.webp"></button>
                <button (click)="changeImage('/assets/macan-3-4.webp')"><img src="/assets/macan-3-4.webp"></button>
                <button (click)="changeImage('/assets/718-inside.webp')"><img src="/assets/718-inside.webp"></button>
            </div>
        </div>
        <div class="page__content__menu">
            <h3>Insira os dados:</h3>
            <form [formGroup]="pedidoForm" (ngSubmit)="submit()" #formDit="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" formControlName="nome" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" formControlName="sobrenome" id="sobrenome" name="sobrenome" required>
                </div>
                <div class="form-group">
                    <label for="sobrenome">E-mail:</label>
                    <input type="text" formControlName="email" id="sobrenome" name="sobrenome" required>
                </div>
                <button type="submit">Comprar</button>
            </form>
        </div>
    </div>
</div>



